
@if(this.isLoading()){
  <loading-progress />
}
@else{
  <p-card header="Users" styleClass="w-full h-full">
    @if (this.users()!.length === 0)
    {
      <p-message severity="warn" variant="outlined" text="No user found" />
    }
    @else {
      <p-table
        #dt1
        [value]="this.users()!"
        responsiveLayout="stack"
        [breakpoint]="'960px'"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
        dataKey="user_id"
        selectionMode="single"
        (onLazyLoad)="loadUsersLazy($event)"
      >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>E-mail</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-user>
            <tr>
                <td><span class="p-column-title">Code</span>{{ user.user_id }}</td>
                <td><span class="p-column-title">Name</span>{{ user.name }}</td>
                <td><span class="p-column-title">E-mail</span>{{ user.email }}</td>
            </tr>
        </ng-template>
      </p-table>
    }
  </p-card>
}
