
@if(this.isLoading()){
  <loading-progress />
}
@else{
  <p-card header="Users" styleClass="w-full h-full">
    @if (this.users()!.length === 0)
    {
      <p-message severity="warn" variant="outlined" text="No user found" />
    }
    @else {
      <p-table
        #dt1
        [value]="this.users()!"
        [tableStyle]="{ 'min-width': '50rem' }"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        dataKey="user_id"
        selectionMode="single"
        (onLazyLoad)="loadUsersLazy($event)"
      >
        <ng-template #header>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>E-mail</th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </ng-template>
      </p-table>
    }
  </p-card>
}
